@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter-Regular.ttf');
}

@font-face {
  font-family: 'BebasNeue';
  src: url('../assets/fonts/BebasNeue.ttf');
}

@layer base {
  :root {
    --color-primary: 239 227 216;
    --color-primaryBg: 126 84 75;
    --color-secondaryBg: 24 24 22;
    --color-link: 126 84 75;
    --color-background: 0 0 0;
    --color-hoverBg: 239 227 216;
    --color-hover: 15 14 13;
    --color-black: 0 0 0;
  }
}

body {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
