@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Regular.ttf');
}

@font-face {
  font-family: 'BebasNeue';
  src: url('./assets/fonts/BebasNeue.ttf');
}

html {
  font-family: 'Inter';
  font-weight: 400;
  color: var(--color-primary);
}

body {
  background: var(--color-background);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

:root {
  --color-primary: #efe3d8;
  --color-primaryBg: #7e544b;
  --color-secondaryBg: #181816;
  --color-link: rgba(126, 84, 75, 1);
  --color-black: #000000;
  --color-background: #000000;
  --color-hoverBg: #efe3d8;
  --color-hover: #0f0e0d;
}
